{
  "bracketSpacing": false,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 93,
  "plugins": [
    "prettier-plugin-svelte"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
