/**
 * Zellij workspace configuration file.
 * Here we define the layout of the workspace and the commands that will be
 * executed in each tab and/or pan assuming bash is the default shell.
 */

layout {
    tab name="'Habitual' - EdgeDb & Vercel 2024 Hackathon" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane {
                    name "Run git log -3"
                    size "40%"
                    cwd "~/project/habitual"
                    command "git"
                    args "log" "-4"
                }
                pane {
                    name "Run dev "
                    cwd "~/project/habitual"
                    size "60%"
                    cwd "~/project/habitual"
                    command "bun"
                    args "run" "dev" "--open"
                }
            }
            pane split_direction="horizontal" {
                pane {
                    name "Get Project Info"
                    size "30%"
                    cwd "~/project/habitual"
                    command "bash"
                    args "-c" "jq '{name: .name, description: .description, version: .version, scripts: .scripts | keys}' package.json"
                }
                pane {
                    name "Run git status"
                    size "50%"
                    cwd "~/project/habitual"
                    command "git"
                    args "status"
                }
                pane {
                    name "Run git log --oneline -9"
                    size "20%"
                    cwd "~/project/habitual"
                    command "git"
                    args "log" "--oneline" "-9"
                }
            }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="nvim session" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane {
            name "habitual"
            cwd "~/project/habitual"
            command "nvim"
        }
    }
}


